body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 40px;
}

    header h1 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }

    header p {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

nav ul {
    list-style: none;
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 12px 0;
    text-align: center;
    border-radius: 8px;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 15px;
}

    nav a:hover {
        text-decoration: underline;
    }

section {
    width: 1200px;
    background: rgba(255, 255, 255, 0.65);
    padding: 20px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

#about-restaurant {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    text-align: center;
}

    #about-restaurant h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
    }

    #about-restaurant p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 15px;
        color: black;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

td {
    padding: 8px;
    border-bottom: 1px solid black;
}

.price {
    text-align: right;
    font-weight: bold;
}

input, textarea {
    width: 1180px;
    padding: 10px;
    margin-top: 8px;
}

.btn {
    background: #5bc8e9;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}

    .btn:hover {
        background: #e6d583;
    }

.to-top {
    font-size:15px;
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

    .to-top:hover {
        text-decoration: underline;
        color: #414be7;
    }


footer {
    background: #e8e3e3;
    color: black;
    text-align: center;
    padding: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

    .gallery img {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    }

#about {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

    #about h2 {
        font-size: 30px;
        margin-bottom: 20px;
        color: black;
    }

    #about h3 {
        font-size: 25px;
        margin-bottom: 20px;
        color: black;
    }

    #about p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 15px;
        color: black;
    }

    #about ul {
        max-width: 600px;
    }

        #about ul li {
            font-size: 17px;
            line-height: 1.6;
            margin-bottom: 10px;
            color: black;
        }
.greek-portal {
    text-align: center;
    font-weight: bold;
}
